/***************************
 * Webfont 정의
 */

/***************************
 * 초기화
 */
*{
	box-sizing: border-box;	
	font-family: 'Noto Sans KR', sans-serif;      
}
a{
	color: #000;
	text-decoration: none;
}
a:hover{
	font-weight: bold;
    color: red !important;
}
body {
    margin: 0;
}
ul,li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
/**************************************
 * 좁은 폭
 */
@media screen and (max-width: 800px)  {
   
}

/**************************************
 * 넓은 폭
 */
@media screen and (min-width: 801px) {
  
}


/**************************************
 * 좁은 폭
 */
@media screen and (max-width: 800px)  {

   
}


/**************************************
 * 넓은 폭
 */
@media screen and (min-width: 801px) {

  
}

