/***************************
 * Header 영역
 */
.header-wrapper {
    width: 100%;
}
.header {
   position: relative;
   width: 100%;
   text-align: right;
}

.header-logo {
   position: absolute;
   margin: 0;
   width: 100%;
   max-width: 1200px;
   text-align: center;   
}
.logo{
	width: 60px;
    max-width: 100%;
    vertical-align: super;
}
.header > input {
     display: none;
}
.header > label {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
}
.header > label > *, .header > label::before, .header > label::after, .header-navi {
    transition: 300ms;
}

.header > label::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    width: 17px;
    height: 3px;
    background: #000;
    transform-origin: 0 50%; /* 햄버거 메뉴 첫번쨰 막대기 오른쪽으로회전 */
}
.header > label > span {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 14px;
    width: 17px;
    height: 3px;
    background: #000; /* 햄버거 메뉴 가운데 막대기 */
}
.header > label::after {
    content: "";
    position: absolute;
    bottom: 7px;
    left: 0;
    width: 17px;
    height: 3px;
    background: #000;
    transform-origin: 0 50%; /* 햄버거 메뉴 마지막 막대기 */
}
.header-navi {
   position: absolute;
   left: 0;
   right: 0;
   margin: 0;
   padding: 0;
   background: #FFF;
   text-align: center;
   height: 0;
   overflow: hidden;
   z-index: 1;
}
.header-navi > li {
   display: block;
   padding: 10px 0;
}
#header-navi-toggle:checked + label > span {
    width: 0;
}
#header-navi-toggle:checked + label::before {
    transform: rotate(45deg);
}
#header-navi-toggle:checked + label::after {
    transform: rotate(-45deg);
}
#header-navi-toggle:checked + label + .header-navi {
    height: 200px;
    box-shadow: 0 2px 2px #CCC;
}
.inp-box{
    display: none;
}
.header-event{
    display: none;
}
/***************************
 * Main 영역
 */
.main-wrapper {
    width: 100%;
    padding: 30px 10px;
}
.main {
    width: 100%;
}

/***************************
 * Footer 영역
 */
.footer-wrapper {
    width: 100%;
    padding: 30px 10px;
}
.footer {
    width: 100%;
}
.sub-footer{
    display: none;
}
