/***************************
 * Header 영역
 */
.header-wrapper {
    width: 100%;
}
.header {
    width: 100%;
    min-width: 801px;
    max-width: 1200px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}
.header > input, .header > label {
    display: none;
}
.header-logo {
    text-align: center;
    line-height: 1.5;
	border : 1px solid rgb(239,239,239);
}
.header-navi {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    bottom: 10px
}
.header-navi > li {
    display: inline-block;
    margin-left: 10px;
	line-height: 1.8;
}

/***************************
 * Main 영역
 */
.main-wrapper {
    width: 100%;
}
.main {
    width: 100%;
    min-width: 801px;
    max-width: 1200px;
    min-height: 500px;
    margin: 0 auto;
}


/***************************
 * Footer 영역
 */
.footer-wrapper {
    width: 100%;
}
.footer {
    width: 100%;
    min-width: 801px;
    max-width: 1200px;
    margin: 0 auto;
}


