.main-content{
	display: block;
	text-align: center;
	margin: 0 auto;
}
.title{
	text-align: left;
	padding-left: 114px;
}
/* 이미지 슬라이드 시작*/
#img-slide{
	width: 100%;
	max-width: 1200px;
    height: 318px;
    position: relative;
	border:1px solid rgb(239,239,239);
	overflow: hidden;
	margin: 0px;
}		
#img-slide li > img{
    position: absolute;
	display: block;
	width: 1200px;
    max-width: 100%;	
}		
#img-slide  li{
	display: inline;
	width: 100%;
}
/* 이미지 슬라이드 종료 */

/* 메인 영역 시작 */
.dress-box{
	font-size: 13px;
	width: 230px;
	text-align:left;
	display: inline-block;
	margin-right: 10px;
}
.dress-con{
	width: 190px;
	padding-bottom: 30px;
	margin: 0 auto;
}
.normal{
	text-decoration: line-through;
}
.sale{
	color: red;
}
.colorchip > button{
	width: 13px;
	height: 13px;
	border: none;
}
.btn-black{
	background: black;
}
.btn-green{
	background: green;
}
.btn-pink{
	background: pink;	
}
/* 메인 영역 종료 */

/* 서브메인배너 시작 */
.subbanner > div{
	margin-top: 80px;
	margin-bottom: 50px;
}
.subbanner > div > img{
    width: 965px;
    max-width: 100%;	
	border-top-right-radius: 55px;
}
/* 서브메인배너 종료 */

.ratate{
	transform: rotate(30deg;)
}

/* 상품주문영역 시작 */
.item-box{
    max-width: 100%;
    width: 1200px;
    height: 100%;
    background:#e6e7f5;
    position: fixed;
    top: 0px;   
    padding: 50px 50px;
    font-weight: 300;
    display: none;
}
.item-img-box{
    max-width: 530px;
    width: 100%;
    height: 400px;
    padding: 25px;
    float: left;
}
.item-img-box > img{
    height: 400px;
    width: 480px;
}
.item-des-box{
    max-width: 530px;
    width: 100%;
    height: 400px;
    float: right;
    text-align: left;
    padding-top: 10px;
    margin-left: 40px;
}
.item-des-title{
    line-height: 0;
    font-size: 22px;
    font-weight:400;
}
.item-des{
    line-height: 3.5;
}
.item-des > p{
    width: 100px;
}
.item-des-box p{
    margin: 0px;
    display: inline-block;
}
.item-total{
    color: red;
    font-weight: bold;
}
.dress-submit{
    background: #ededed;
}
.id-box{
    float: left;
    width: 50%;
    margin-top: 30px;
}
.password-box{
    float: right;
    width: 50%;
    margin-top: 30px;
}
.item-list-box{
    float: left;
    width: 50%;
    margin-top: 30px;
}
.color-box{
    float: right;
    width: 50%;
    margin-top: 30px;
}
/* 상품주문영역 종료 */